.DS_Store
yarn.lock
package-lock.json
yarn-error.log
yarn-error.log
npm-debug.log
node_modules
coverage

# Screenshots from Vitest Browser Mode
__screenshots__

/lib
/.e2e-results/
/test-results
/playwright-report/
/playwright/.cache/
/vitest-example
