.DS_Store
__macro__
__helper__
__fixture__
node_modules
yarn.lock
package-lock.json
yarn-error.log
yarn-error.log
npm-debug.log

/.e2e-results
/playwright-report
/e2e
/src
/tsconfig.json
/tsconfig.build.json
/tsconfig.d.ts.json
/tsconfig.eslint.json
/ava.config.js
/playwright.config.ts
/.editorconfig
/.gitignore
/.eslintrc.json
/.c8rc.json
